<!-- 
Goals :
1. Create an appointment
2. Show all appointments
3. Delete an appointment
-->

<!-- Create an Appointment -->
<div>
    <input [(ngModel)]="newAppointmentTitle" placeholder="appointment description">
    <input [(ngModel)]="newAppointmentDate" type="date" placeholder="appointment date">
    <button (click)="addAppointment()">Add</button>
</div>


<!-- Show all appointment -->
<ul>
    <li *ngFor="let appointment of appointments; index as i">
        {{appointment.id}} {{appointment.title}} {{appointment.date | date: 'dd.MM.yyyy'}}
        <button (click)="deleteAppointment(i)">Delete</button>
    </li>
</ul>

